Repository ElixirNote/elixirnote: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, stylelint, integrity]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: ['--line-length', '100']

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: \.py$
        args: [--profile=black]

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          [
            'flake8-bugbear==22.6.22',
            'flake8-implicit-str-concat==0.2.0'
          ]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.18.1
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

reset origin launch style
  packages/application/style/core.css
  packages/launcher/style/base.css
Due: prettier, stylelint

add icon color fill
  packages/application/style/sidepanel.css
  packages/cells/style/inputarea.css
Due: prettier, stylelint

update default launch url
  galata/src/inpage/index.ts
  galata/src/jupyterlabpage.ts
  jupyterlab/browser_check.py
  jupyterlab/labapp.py
  jupyterlab/labhubapp.py
  packages/application-extension/src/index.tsx
  packages/application/style/sidepanel.css
  packages/debugger-extension/schema/main.json
  packages/debugger-extension/src/index.ts
  packages/extensionmanager-extension/examples/listings/main.py
  testutils/src/start_jupyter_server.ts
Due: prettier, eslint, stylelint

update build mk info
  README.md
Due: prettier

update sidebar style & change log svg path
  galata/src/helpers/sidebar.ts
  packages/application-extension/src/index.tsx
  packages/application/style/sidepanel.css
  packages/debugger-extension/schema/main.json
  packages/debugger-extension/src/index.ts
  packages/ui-components/style/icons/jupyter/jupyter-favicon.svg
  packages/ui-components/style/icons/jupyter/jupyter.svg
Due: prettier, eslint, stylelint

doc: update server install steps
  README.md
Due: prettier

fix global app name
  jupyterlab/labapp.py
  jupyterlab/staging/package.json
  jupyterlab/staging/templates/error.html
  jupyterlab/staging/webpack.config.js
  packages/application/src/lab.ts
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

fix global app name
  dev_mode/package.json
Due: prettier

fix global app name
  .jupyter_ystore.db
Due: none

disable `Private.activateSidebarSwitcher`
  packages/application-extension/src/index.tsx
Due: prettier, eslint

update gitignore
  .gitignore
  packages/debugger-extension/schema/main.json
Due: prettier

delete jp-left-stack border
  packages/application/style/sidepanel.css
Due: prettier, stylelint

update collaboration user icon
  packages/application/style/menus.css
  packages/application/style/sidepanel.css
  packages/collaboration/style/menu.css
Due: prettier, stylelint

disable debug autostart
  packages/debugger-extension/src/index.ts
Due: prettier, eslint

update code cell ui
  packages/cells/style/inputarea.css
  packages/codemirror/src/editortheme.ts
  packages/codemirror/style/base.css
  packages/notebook/style/base.css
Due: prettier, eslint, stylelint

update coding cell widget
  packages/cell-toolbar/style/base.css
  packages/cells/src/inputarea.ts
  packages/cells/style/collapser.css
  packages/cells/style/widget.css
  packages/codemirror/src/editortheme.ts
  packages/notebook/style/base.css
  packages/running/style/base.css
  packages/ui-components/style/icons/jupyter/jupyterlab-wordmark.svg
Due: prettier, eslint, stylelint

add share & preview & publish top label
  packages/application/style/titlepanel.css
  packages/collaboration/src/menu.ts
  packages/collaboration/style/menu.css
Due: prettier, eslint, stylelint

update notebook svg
  packages/outputarea/src/widget.ts
  packages/ui-components/style/icons/filetype/notebook.svg
Due: prettier, eslint

restore debug manifest config
  packages/collaboration/src/menu.ts
  packages/debugger-extension/schema/main.json
  packages/outputarea/src/widget.ts
  packages/ui-components/style/icons/filetype/python.svg
Due: prettier, eslint

add notebook share link feature
  packages/collaboration/package.json
  packages/collaboration/src/handler.ts
  packages/collaboration/src/menu.ts
  packages/collaboration/style/menu.css
  packages/collaboration/tsconfig.json
  packages/collaboration/tsconfig.test.json
Due: prettier, eslint, stylelint

fix cell input/output/format ui
  packages/cells/src/inputarea.ts
  packages/cells/style/inputarea.css
  packages/cells/style/widget.css
  packages/notebook/style/base.css
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
  packages/rendermime/style/base.css
Due: prettier, eslint, stylelint

add input prompt before
  packages/cells/style/inputarea.css
  packages/notebook/style/base.css
Due: prettier, stylelint

update prompt emoji
  packages/outputarea/src/widget.ts
Due: prettier, eslint

add cell-toolbar extension commands
  packages/cell-toolbar-extension/schema/plugin.json
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

fix cell toolbar
  packages/application/style/core.css
  packages/application/style/sidepanel.css
  packages/filebrowser/style/base.css
  packages/notebook-extension/schema/panel.json.orig
  packages/ui-components/style/base.css
  packages/ui-components/style/toolbar.css
Due: prettier, stylelint

fix cell toolbar
  packages/notebook/style/toolbar.css
Due: prettier, stylelint

fix presentation mode flex size
  packages/notebook/style/base.css
Due: prettier, stylelint

re-fix toolbar
  packages/application/style/sidepanel.css
  packages/notebook/style/toolbar.css
  packages/ui-components/style/toolbar.css
Due: prettier, stylelint

re-fix toolbar & console-log toolbar
  packages/cells/style/inputarea.css
  packages/logconsole-extension/style/base.css
  packages/notebook/style/toolbar.css
Due: prettier, stylelint

hidden `mainmenu` items
  packages/application/style/scrollbar.css
  packages/mainmenu-extension/schema/plugin.json.orig
  packages/mainmenu-extension/src/index.ts
  packages/ui-components/style/toolbar.css
Due: prettier, eslint, stylelint

add preview function
  packages/application/src/shell.ts
  packages/application/style/titlepanel.css
  packages/collaboration/src/handler.ts
  packages/collaboration/src/menu.ts
  packages/collaboration/style/menu.css
  packages/mainmenu-extension/src/index.ts
Due: prettier, eslint, stylelint

update install steps locally 🌈
  README.md
Due: prettier

update toc rank
  packages/toc-extension/src/index.ts
Due: prettier, eslint

add doc terminal widget
  packages/filebrowser-extension/schema/widget.json
Due: prettier

fill status bar process
  packages/statusbar/style/base.css
Due: prettier, stylelint

delete duplicate item
  packages/fileeditor-extension/schema/plugin.json
Due: prettier

update overview pic
  jupyterlab/staging/assets/overview-1.png
Due: none
