Repository ElixirNote/elixirnote: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, stylelint, integrity]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: ['--line-length', '100']

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: \.py$
        args: [--profile=black]

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          [
            'flake8-bugbear==22.6.22',
            'flake8-implicit-str-concat==0.2.0'
          ]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.18.1
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

update cell command list
  packages/cell-toolbar-extension/schema/plugin.json
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

fix title, remove confusing `count` num
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

add nb cloud checkpoints
  packages/application/src/shell.ts
  packages/application/style/titlepanel.css
  packages/ui-components/src/icon/iconimports.ts
Due: prettier, eslint, stylelint

add nb cloud checkpoints
  packages/ui-components/style/icons/toolbar/cloud.svg
Due: none

remove panel shadow
  packages/extensionmanager/src/widget.tsx
  packages/ui-components/style/sidepanel.css
  packages/ui-components/style/toolbar.css
Due: prettier, eslint, stylelint

fix file-browser & launch index
  packages/filebrowser/style/base.css
  packages/inspector-extension/src/index.ts
  packages/launcher/src/widget.tsx
  packages/launcher/style/base.css
Due: prettier, eslint, stylelint

add elixirnote introduction svg
  jupyterlab/staging/assets/elixirnote-intro.svg
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/icons/jupyter/elixirnote-intro.svg
Due: prettier, eslint

update elixir ecosystem
  README.md
  jupyterlab/staging/assets/elixir-ecosystem-v2.svg
  jupyterlab/staging/assets/overview-1.png
  jupyterlab/staging/assets/overview-2.png
  jupyterlab/staging/assets/overview-3.png
  jupyterlab/staging/assets/overview-4.png
Due: prettier

update elixir ecosystem
  README.md
  jupyterlab/staging/assets/elixir-ecosystem-v2.svg
Due: prettier

update elixir ecosystem
  README.md
Due: prettier

update elixir doc
  README.md
Due: prettier

fix elixir project dependencies
  README.md
  jupyterlab/labapp.py
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  pyproject.toml
Due: prettier, eslint, stylelint

update elixir project dependencies
  jupyterlab/labapp.py
  pyproject.toml
Due: none

Publish 4.0.0a28
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/assets/elixir-ecosystem-v2.svg
  jupyterlab/staging/assets/elixir-ecosystem.svg
  jupyterlab/staging/assets/elixirnote-intro.svg
  jupyterlab/staging/assets/elixirnote2.svg
  jupyterlab/staging/assets/guinsoolab-badge.png
  jupyterlab/staging/assets/overview-1.png
  jupyterlab/staging/assets/overview-2.png
  jupyterlab/staging/assets/overview-3.png
  jupyterlab/staging/assets/overview-4.png
  jupyterlab/staging/package.json
  jupyterlab/staging/templates/error.html
  jupyterlab/staging/webpack.config.js
  jupyterlab/staging/yarn.lock
  pyproject.toml
Due: prettier, eslint

fix elixir project dependencies
  Dockerfile
  pyproject.toml
Due: none

fix elixir project dependencies
  jupyterlab/staging/assets/elixir-ecosystem-v2.svg
  jupyterlab/staging/assets/elixir-ecosystem.svg
  jupyterlab/staging/assets/elixirnote-intro.svg
  jupyterlab/staging/assets/elixirnote2.svg
  jupyterlab/staging/assets/guinsoolab-badge.png
  jupyterlab/staging/assets/overview-1.png
  jupyterlab/staging/assets/overview-2.png
  jupyterlab/staging/assets/overview-3.png
  jupyterlab/staging/assets/overview-4.png
Due: none

fix elixir project dependencies
  dev_mode/templates/error.html
  jupyterlab/commands.py
  jupyterlab/labapp.py
Due: none

merge version conflict
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  yarn.lock
Due: prettier

Publish 4.0.0a28
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/templates/error.html
  jupyterlab/staging/yarn.lock
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Publish 4.0.0a29
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/assets/elixir-ecosystem-v2.svg
  jupyterlab/staging/assets/elixir-ecosystem.svg
  jupyterlab/staging/assets/elixirnote-intro.svg
  jupyterlab/staging/assets/elixirnote2.svg
  jupyterlab/staging/assets/guinsoolab-badge.png
  jupyterlab/staging/assets/overview-1.png
  jupyterlab/staging/assets/overview-2.png
  jupyterlab/staging/assets/overview-3.png
  jupyterlab/staging/assets/overview-4.png
  jupyterlab/staging/package.json
Due: prettier

merge version conflict with tag a28
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  yarn.lock
Due: prettier

merge version conflict with tag a29
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  package.json
  pyproject.toml
Due: prettier

Publish 4.0.0a30
  dev_mode/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

merge version conflict with tag a30
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

merge main docs
  README.md
  docs/assets/elixir-ecosystem-v2.svg
  docs/assets/elixir-ecosystem.svg
  docs/assets/elixirnote-intro.svg
  docs/assets/elixirnote2.svg
  docs/assets/guinsoolab-badge.png
  docs/assets/overview-1.png
  docs/assets/overview-2.png
  docs/assets/overview-3.png
  docs/assets/overview-4.png
Due: prettier

fix corporation basic style
  packages/application-extension/style/base.css
  packages/application/src/shell.ts
  packages/notebook/style/base.css
  packages/outputarea/style/base.css
  packages/rendermime/style/base.css
Due: prettier, eslint, stylelint

merge elixirlsp package
  packages/completer/src/widget.ts
  packages/completer/style/base.css
  packages/ui-components/style/icons/lsp/code-check.svg
  pyproject.toml
Due: prettier, eslint, stylelint

Update README.md
  README.md
Due: prettier

ui: update kernel state bar
  packages/application/style/core.css
  packages/collaboration/src/menu.ts
  packages/collaboration/style/menu.css
  packages/extensionmanager/style/base.css
  packages/filebrowser/style/base.css
  packages/logconsole-extension/style/base.css
  packages/notebook-extension/schema/panel.json
  packages/notebook/style/base.css
  packages/notebook/style/executionindicator.css
  packages/notebook/style/toolbar.css
  packages/statusbar-extension/src/index.ts
  packages/statusbar/src/style/statusbar.ts
  packages/ui-components/style/toolbar.css
Due: prettier, eslint, stylelint

add interrupt kernel command to default items
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint
